CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=24576
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
# No PSRAM assumption: QQVGA JPEG + a single DRAM buffer.
CONFIG_SPIRAM=n
CONFIG_COMPILER_CXX_EXCEPTIONS=n
